

[defaults]
#inventory = inv.ini
retry_files_enabled = False
F5_VALIDATE_CERTS = no
host_key_checking = False
vault_password_file=../vault_pass.txt


verbose = light blue




#log_path=../ansible_logs/log
#keep_remote_files = True





# Use the YAML callback plugin.
# stdout_callback = yaml
# Use the stdout_callback when running ad-hoc commands.
#bin_ansible_callbacks = True
